.card {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-name {
    padding-left: 20px;
    font-size: 1.5em;
    color: black;
    text-align: left;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-name:hover {
    transform: scale(1.1);
}

.warehouse-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.card-count {
    font-size: 1.5em;
    color: #555;
}

.icon {
    padding-right: 20px;
    color: black;
    font-style: bold;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}