.card {
  background-color: white;
  width: 30%;
  height: 200px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4e78c7, #89a8e0);
  border-radius: 8px;
  width: 35px;
  height: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title {
  color: gray;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.card-description {
  color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.count {
  font-size: 30px;
  margin: 0;
}

.description {
  margin: 0;
}