.delete-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.delete-msg {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.delete-modal {
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.yes-button, .no-button {
    border: none;
    background: linear-gradient(135deg, #e33d3d, #feb47b);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.3s ease-in-out;
    font-weight: 700;
}

.no-button {
    background: linear-gradient(135deg, #898E90, #B8BFC1);
}

.yes-button:hover, .no-button:hover {
    transform: scale(1.1);
}