.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #39e6da;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.menu-box {
    width: 100%;
    background-color: #39e6da;
}

.sidebar a {
    font-size: 20px;
    display: flex;
    justify-content: start;
    padding: 10px;
    transition: transform 0.3s;
}

.sidebar a:hover {
    transform: scale(1.1)
}

.sidebar a .icon {
font-size: 24px; /* Set icon size */
}