.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; 
}

.menu-box {
    width: 100%;
    background-color: red;
}
.sidebar a {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s;
}


.sidebar a:hover {
    transform: scale(1.1)
}

.sidebar a .icon {
font-size: 24px; /* Set icon size */
}