.delete-button {
    width: 30px;
    height: 30px;
    color: white;
    background: linear-gradient(135deg, #e33d3d, #feb47b);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.delete-button:hover {
    transform: scale(1.2);
}