#root {
    width: 100%;
}

body {
  font-family: 'Inter', sans-seif;
  background-color: #e8ebed;
}

.app {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
 
  main {
    width: 100%;
  }

  .main-content {
    flex: 1;
    padding: 20px;
    overflow: auto;
  }

  .create-button {
    padding-left: 20px;
  }
 